@mixin box-shadow-bottom() {
  box-shadow: 0 4px 8px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.28);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,.28);
}
@mixin box-shadow-top() {
  box-shadow: 0 -4px 8px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 -4px 8px rgba(0,0,0,.28);
  -moz-box-shadow: 0 -4px 8px rgba(0,0,0,.28);
}
@mixin box-shadow-none() {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
