// colors
$primary-color-darker: #003caa; //(0,60,170)
$primary-color-dark: #1955c3; //(25,85,195)
$primary-color: #326edc; //(50,110,220)
$primary-color-light: #4b87f5; //(75,135,245)
$primary-color-lighter: #64a0ff; // (100,160,255)
$black: #000;
$gray: #404040;
$gray-light: #808080;
$gray-lighter: #d0d0d0;
$white: #fff;

// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Lato', sans-serif;
