.feed-cards {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 48px;
  @include small-phone {
    grid-row-gap: 24px;
  }
  @include tablet-min {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop-min {
    grid-template-columns: repeat(4, 1fr);
  }
}
.feed-card {
  border: 1px solid $gray-lighter;
  .card-inner {
    position: relative;
    display: block;
    height: 100%;
    padding: 12px 12px 34px 12px;
    text-align: center;
    .image {
      max-width: 250px;
      padding: 0 0 12px 0;
      @include small-phone {
        max-width: 200px;
      }
      @include tablet-min {
        max-width: 250px;
      }
      @include laptop-min {
        max-width: 200px;
      }
    }
    .title {
      color: $gray;
      font-family: $primary-font;
      font-size: 20px;
      padding: 0 0 6px 0;
    }
    .description {
      color: $gray-light;
      font-family: $secondary-font;
      font-weight: 300;
      padding: 0 0 6px 0;
    }
    .source-name {
      position: absolute;
      bottom: 12px;
      right: 12px;
      color: $gray-light;
      font-family: $primary-font;
      font-size: 16px;
    }
  }
}
#to-top {
  position: fixed;
  bottom: 6px;
  width: 100%;
  .to-top {
    display: flex;
    justify-content: center;
    .fas {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 50%;
      color: $primary-color;
      font-size: 24px;
      height: 48px;
      width: 48px;
      @include box-shadow-bottom();
    }
  }
}
